@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";

body {
    font-family: 'Lexend', sans-serif;
}

/* buttons */
.button {
    color: #150B2B;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #0BE58A;
    border: 1px solid #150B2B;
    cursor: pointer;
}


/* navbar */
nav {
    color: #150B2B;
    font-size: 32px;
    font-weight: 700;
}

nav li {
    color: #150B2BB2;
    font-size: 16px;
    font-weight: 400;
}


/* banner */
.banner h1 {
    color: white;
    font-size: 52px;
    font-weight: 700;
}

.banner p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}