@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";

body {
    font-family: 'Lexend', sans-serif;
}

nav {
    color: #150B2B;
    font-size: 32px;
    font-weight: 700;
}

nav li {
    color: #150B2BB2;
    font-size: 16px;
    font-weight: 400;
}

